@import '../../styles/variables';
@import '../../styles/mixins';

.appart_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 20px 0;
	
	@include responsive(768px) {
		flex-direction: row;
	}

	.tags {
		display: flex;
		gap: 10px;
	}
	.header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
	.tags-stars-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		@include responsive(768px) {
			flex-direction: column;
		}
	}

	.stars {
		display: flex;
		gap: 10px;
	}
	.host_container {
		display: flex;
		gap: 10px;
		align-items: center;
		max-width: 135px;
		text-align: right;

		h3 {
			font-size: 12px;
			color: $primary-clr;
			font-weight: 300;
		}

		img {
			border-radius: 50%;
			width: 50px;
		}
	}
}
