@import '../../styles/variables';
@import '../../styles/mixins';

.container {
	margin: auto;
	width: 100%;

	@include responsive(768px) {
		max-width: 1240px;
	}

	.card_container {
		padding-top: $paddin-msg;
		width: 100%;
		margin: auto;
		background-color: #f6f6f6;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		border-radius: 25px;
		gap: $paddin-msg;
	}
}
