@import "../../styles/_variables.scss";
@import "../../styles/mixins";

.card {
	background-color: $primary-clr;
	height: 335px;
	border-radius: $border-rd;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 435px;
	@include responsive(768px) {
		width: 335px;
	}

	&::after {
		content: "";
		width: 100%;
		position: absolute;
		border-radius: $border-rd;
		height: 100%;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
		left: 0;
		top: 0;
	}

	img {
		height: 100%;
		object-fit: cover;
		@include responsive(768px) {
			min-width: 503px;
		}
	}

	h2 {
		color: white;
		font-size: 18px;
		font-weight: 500;
		z-index: 1;
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 25px;
	}
}
