.dropdown {
  border-radius: 5px;
  margin-bottom: 35px;
  text-align: left;
}

.header_dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  border-radius: 5px;
  display: inline-flex;
  height: 25%;
  min-height: 50px;
  width: 100%;
}

.titre_dropdown {
  color: #ffffff;
  height: 50px;
  line-height: 50px;
  margin: 5px 10px;
}

.fleche_dropdown {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.fleche_dropdown:hover {
  cursor: pointer;
}

.fleche_dropdown.true {
  justify-content: start;
  transform: rotate(-180deg);
  svg{
    transform: rotate(-180deg);
    color:red;
    fill:red;
    stroke: red;

  }
}

.description_dropdown {
  background-color: #f6f6f6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #ff6060;
  line-height: 1.7em;
  height: 75%;
  padding: 25px 10px 25px 20px;
}
