@import '../../styles/mixins';
@import '../../styles/variables';

.carrouselCont {
	position: relative;
	display: flex;
	align-items: center;

	img {
		height: 255px;
		object-fit: cover;
		border-radius: $border-rd;

		@include responsive(768px) {
			height: 415px;
			border-radius: 25px;
		}
	}

	.btn {
		position: absolute;
		cursor: pointer;
		background-color: transparent;
		border: none;
		@include responsive(768px) {
			transform: scale(4);
			left: 4.1%;
		}
		div {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.btn:last-child {
		right: 0px;
		left: auto;
		transform: scale(-1);
		@include responsive(768px) {
			transform: scale(-4);
			right: 4.1%;
		}
	}
}
