@import '../../styles/variables';
@import '../../styles/mixins';

.header {
	&__nav li {
		color: $primary-clr;
		border-bottom: 2px solid transparent; /* Ajout de la bordure transparente par défaut */
		transition: border-color 0.3s; /* Ajout d'une transition pour une animation fluide */
			&:hover{
		transform: scale(1.06);
		transition: transform 300ms;
	}
		}


	&__nav li.active {
		border-color: $primary-clr; /* Changement de la couleur de la bordure lorsque l'élément est actif */
	}
}


.header {
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
		font-size: 0.7em;
		
		@include responsive(768px) {
			font-size: 1.1em;
		}
	}

	&__nav ul {
		display: flex;
		text-transform: uppercase;
		gap: 30px;
		
    text-align: center;
		align-items: center;

		@include responsive(768px) {
			text-transform: none;
			gap: 50px;
		}
	}

	&__nav li {
		color: $primary-clr;
	}

	&__nav img {
		max-width: 145px;
	}

	&__nav a {
		text-decoration: none;
		color: $primary-clr;
	}

	&__nav a:active {
		text-decoration: underline;
	}

	.active {
		text-decoration: underline;
		padding-bottom: 2px;
	}
}
