@import '../styles/variables';
@import '../styles/mixins';

.banner {
	display: flex;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	align-items: center;
	border-radius: $border-rd;
	position: relative;
	max-height: 111px;
	margin-left: 20px;
	margin-right: 20px;

	@include responsive(768px) {
		max-height: 223px;
	}

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: black;
		mix-blend-mode: darken;
		opacity: 33%;
	}

	&__title {
		position: absolute;
		color: white;
		font-size: 24px;
		font-weight: normal;
		max-width: 223px;
		left: 1em;
		z-index: 1;
		@include responsive(768px) {
			font-size: 48px;
			max-width: 100%;
			font-size: 48px;
			text-align: center;
			left: 50%;
			width: 100%;
			transform: translateX(-50%);
		}
	}
	img {
		min-width: 710px;
	}
}
