@import '../styles/_variables.scss';

.card {
	background-color: $primary-clr;
	width: 335px;
	height: 335px;
	border-radius: $border-rd;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	&::after {
		content: '';
		width: 100%;
		position: absolute;
		border-radius: $border-rd;
		height: 100%;
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0) 0%,
			rgba(0, 0, 0, 0.5) 100%
		);
		left: 0;
		top: 0;
	}

	img {
		min-width: 503px;
		height: 100%;
		object-fit: cover;
	}

	h2 {
		color: white;
		font-size: 18px;
		font-weight: 500;
		z-index: 1;
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 25px;
	}
}
