@import '../styles/mixins';

.footer_container {
	background-color: black;
	min-height: 209px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	/* bottom: -210px; */
	width: 100%;

	img {
		max-width: 122px;
		margin-bottom: 28px;
	}
	p {
		font-size: 12px;

		@include responsive(768px) {
			font-size: 24px;
		}
	}
}
