@import '../styles/variables';
@import '../styles/mixins';

.title {
	font-weight: 400;
	font-size: 1.4em;
	color: $primary-clr;
	margin: 0;
	margin-bottom: 5px;

	@include responsive(768px) {
		font-size: 2em;
	}
}

.location {
	margin-top: 0;
	color: $primary-clr;
	font-size: 0.8em;

	@include responsive(768px) {
		font-size: 0.8em;
	}
}
