@import '../../styles/variables';
@import '../../styles/mixins';

.container {
	color: $primary-clr;
	text-align: center;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h2 {
		font-size: 6em;
		font-weight: bold;
		margin: 0;
		
		@include responsive(768px) {
			font-size: 9em;
		}
	}

	p {
		font-size: 18px;
	}

	a {
		color: inherit;
		font-size: 14px;
		margin-top: 100px;
	}
}
