@import '~normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

img {
	width: 100%;
}

ul,
li {
	list-style-type: none;
}

.container_general {
	max-width: 1240px;
	margin: auto;
	position: relative;
	min-height: 76vh;
}
